---
import { getCollection } from "astro:content";
const posts = (await getCollection("blog")).sort(
    (a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate),
);
import background from "../assets/background.svg";
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
---

<head>
    <title>AutoEmulate Blog</title>
</head>

<div id="container">
    <img id="background" src={background.src} alt="" fetchpriority="high" />
    <main>
        <Navbar />
        <div class="intro">
            <h1>Blog posts</h1>
            <ul class="blog-list">
                {
                    posts.map((post) => (
                        <li class="blog-item">
                            <a href={`/blog/${post.slug}`} class="blog-link">
                                {post.data.title}
                            </a>
                            <span class="blog-description">
                                {post.data.description}
                            </span>
                            <span class="blog-date">
                                {post.data.pubDate.toLocaleDateString()}
                            </span>
                            <span class="blog-author">{post.data.author}</span>
                        </li>
                    ))
                }
            </ul>
        </div>
    </main>
</div>

<script>
    window.addEventListener("scroll", function () {
        const navbar = document.getElementById("navbar");
        if (window.scrollY > window.innerHeight / 2) {
            navbar.classList.add("hidden");
        } else {
            navbar.classList.remove("hidden");
        }
    });
</script>
