---
import logo from "../assets/autoemulate_logo.png";
import logo_no_grid from "../assets/autoemulate_logo_no_grid.png";
import reality from "../assets/reality.jpg";
import background from "../assets/background.svg";
import simulation from "../assets/simulation.png";
import GP from "../assets/GP.png";
import classical from "../assets/classical.png";
import ml from "../assets/ml.svg";
import dl from "../assets/dl.svg";
import code from "../assets/code.svg";
import domain from "../assets/domain.svg";
import integration from "../assets/integration.svg";
import "../styles/global.css";
import { Code } from "astro:components";
import { Content as QuickStartCode } from "./quick-start-code.md";
import Navbar from "./Navbar.astro";
---

<head>
    <!-- Google tag (gtag.js) -->
    <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-30RQRKFG08"
    ></script>
    <script type="text/partytown">
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-30RQRKFG08");
    </script>
    <title>Welcome to AutoEmulate</title>
</head>

<div id="container">
    <img id="background" src={background.src} alt="" fetchpriority="high" />
    <main>
        <Navbar />
        <div class="intro-section">
            <div class="intro">
                <h1>Accelerating large-scale simulations with AI.</h1>
                <h2>Replace complex simulations with fast, accurate emulators.</h2>
                <section id="links">
                    <a
                        class="button"
                        href="https://alan-turing-institute.github.io/autoemulate/index.html"
                        target="_blank"
                        >Get started
                    </a>
                </section>
            </div>
        </div>
        
        <div class="about-section">
            <div class="about-section-inner">
                <div class="hero">
                    <div class="panel-left">
                        <div class="logo-container">
                            <img src={logo.src} alt="AutoEmulate Logo" />
                        </div>
                        <div class="about-text">
                            <h3>
                                <i>AutoEmulate</i> is a Python library for automatically creating
                                accurate and efficient emulators of complex simulations.
                                <br /><br />
                                Run a complete machine learning pipeline to compare and optimise
                                a wide range of models, with functions for downstream tasks like
                                prediction, sensitivity analysis and calibration.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="open-source-section">
            <div class="seondary-intro">
                <h1>Open source & free to use</h1>
            </div>
            <div class="panel-left benefits">
                <div class="benefit">
                    <img src={code.src} alt="Low-Code Icon" width="70" />
                    <h3>Low code</h3>
                    <p>
                        Data-processing, model comparison, cross-validation,
                        hyperparameter search and more in few lines of code.
                    </p>
                </div>
                <div class="benefit">
                    <img
                        src={domain.src}
                        alt="Domain Agnostic Icon"
                        width="70"
                    />
                    <h3>Domain agnostic</h3>
                    <p>Can be applied to simulation models from any domain.</p>
                </div>
                <div class="benefit">
                    <img
                        src={integration.src}
                        alt="Easy Integration Icon"
                        width="70"
                    />
                    <h3>Easy Integration</h3>
                    <p>
                        All emulators are compatible with commonly used Python
                        ML frameworks, making them easy to integrate into
                        downstream applications.
                    </p>
                </div>
            </div>
        </div>

        <div class="emulators-section">
            <div class="seondary-intro">
                <h1>State of the art emulators</h1>
            </div>
            <div class="panel-left benefits">
                <div class="benefit">
                    <img src={classical.src} alt="Classical Icon" width="70" />
                    <h3>Classical</h3>
                    <p>
                        Radial Basis Functions<br />
                        Second Order Polynomials
                    </p>
                </div>
                <div class="benefit">
                    <img src={ml.src} alt="ML Icon" width="70" />
                    <h3>Machine Learning</h3>
                    <p>
                        Random Forests<br />
                        Gradient Boosting<br />
                        Support Vector Machines
                    </p>
                </div>
                <div class="benefit">
                    <img src={dl.src} alt="DL Icon" width="70" />
                    <h3>Deep Learning</h3>
                    <p>
                        Gaussian Processes<br />
                        Conditional Neural Processes
                    </p>
                </div>
            </div>
        </div>

        <!-- Quick start section with existing styling -->
        <div class="quick-section-container">
            <h2 class="quick-section-title">Quick start</h2>
            <div class="quick-cards-wrapper">
                <!-- Quick Install Card -->
                <div class="quick-card">
                    <h4>Install</h4>
                    <div class="code-block">
                        <Code code={`pip install autoemulate`} lang="python" />
                    </div>
                </div>
                
                <!-- Quick Start Card -->
                <div class="quick-card">
                    <h4>Find the best emulator in just a few lines of code</h4>
                    <div class="quick-start-code">
                        <QuickStartCode />
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<script>
    window.addEventListener("scroll", function () {
        const navbar = document.getElementById("navbar");
        if (window.scrollY > window.innerHeight / 2) {
            navbar.classList.add("hidden");
        } else {
            navbar.classList.remove("hidden");
        }
    });
</script>